
<!DOCTYPE html>
<html>
<head>
    <title>Fiber Development - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar Navigation -->
        <div class="sidebar">
            {% include 'includes/sidebar.html' %}
        </div>
        
        <!-- Main Content -->
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>