
<!DOCTYPE html>
<html>
<head>
    <title>Fiber Development</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="logo-container">
                <h1>Fiber Development</h1>
                <img src="{% static 'images/slt_logo_new.png' %}" alt="Fiber Development Logo" class="logo">
            </div>
            <form method="POST" class="login-form">
             
                
                <div class="form-group">
                    <label for="employee_id">Employee ID</label>
                    <input type="text" id="employee_id" name="employee_id" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="login-btn">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>