<nav class="breadcrumb">
    <ol>
        <li><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></a></li>
        {% if breadcrumb %}
            {% for item in breadcrumb %}
                <li>
                    {% if not forloop.last %}
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    {% else %}
                        <span>{{ item.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ol>
</nav>